.movingCardParentDiv{
    position: relative;
    overflow-x: hidden ;
    /* z-index: -4; */
}
.movingCard{
    width: 33%;
    margin-right: 20px;
    position: absolute;
    display: flex;
    padding-left: 40px;
    padding-bottom: 40px;
    align-items: end;
  
    /* color: white; */
    z-index: 100;
    /* z-index: -10; */
    z-index: 100;
    box-shadow:  5px 5px 7px #636363;

}
.transition{
    transition: opacity 0.4s ease-out ,left 0.7s ease-in-out;
    
}
.image1,.image2,.image3,.image4{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.image1{
    background-image: url("https://images.unsplash.com/photo-1529052473669-1dfd54b60f5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80");
}
.image2{
    background-image: url("https://images.unsplash.com/photo-1657658153312-86176569feca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTZ8fHxlbnwwfHx8fHw%3D&w=1000&q=80");
}
.image3{
    background-image: url("https://images.unsplash.com/photo-1685008708439-54746c14d23b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");

}
.image4{
    background-image: url("https://images.unsplash.com/photo-1533951239289-baefec383e68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");

}
.movingCardContent{
    color: white;
    font-size: 22px;
    letter-spacing:1.5px;
}
/* .buttonSec{
    background-color: transparent;
.buttonSec{
    /* background-color: white;
    text-align: center;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
    width: 3rem;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 0.5px;
} */
    /* letter-spacing: 0.5px; */
 /*   background-color: transparent; */
    /* z-index: 400; */
/* } */