body{
  overflow-x: hidden;
  /* background-color: #181818; */
}
.container_gallery {
    overflow: hidden;
    background-color: #181818;
    width: 100vw;
    background-color: #181818;
    margin: 0rem;
  }
  
  .image_track {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5vmin;
    height: 10vh;
    position: absolute;
    left: 30%;
    top: 100%;
    transform: translate(0%, -50%); 
    user-select: none;
  }
  .image_track div{
    z-index:1000;
    display:flex;
    flex-direction:row;
    gap:4vmin;
    color:white;
    font-size: 100px;
    margin-bottom: 100px;
  }
  .animals{
    top:0;
    text-align: start;
  }

  .scenery{
    top:0;
    text-align: start;
  }

  .safari{
    top:0;
    text-align: start;
  }

  .navbar ul{
    list-style:none;
  }
  .menu_list{
    display:flex;
    flex-direction: row;
    gap:50px;
    /* top:30px; */
    
  }
  .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    /* filter:grayscale(100%); */
  }

  .gallery_heading{
    text-align: center;
    font-size: 400px;
    color:white;
    position:relative;
    user-select:none;
    font-weight: 300;
    width: 100v;
    /* background-image: url('https://images.unsplash.com/photo-1688488994043-ffb1a6c211f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:cover ;
    background-repeat: no-repeat; */
  }
  .animals_heading{
    /* text-align: center; */
    font-size:250px;
    color:white;
    opacity: .4;
    height:50vh;
    user-select: none;
    margin-top:150px;
    margin-bottom:200px;
    margin-left:40px;
  }
  .scenery_heading{
    /* text-align: center; */
    font-size:250px;
    color:white;
    opacity: .4;
    height:50vh;
    user-select: none;
    margin:100px;
    margin-left:40px;
  }
  .safari_heading{
    /* text-align: center; */
    font-size:250px;
    color:white;
    opacity: .4;
    height:65vh; 
    user-select: none;
    margin:100px;
    margin-top:200px;
    margin-bottom:100px;
    margin-left:40px;
  }

  .laster{
    position:relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;
    /* margin-bottom: 60px; */
    /* bottom:1560px; */

  }
  .gallery_last_links{ 
    display: flex;
    flex-direction: row;
    gap: 80px;
    color:white;
    font-size: small;
    font-weight: light;
    text-decoration: none;
    margin-bottom: 30px;
  }

 .gallery_last_links a{
    text-decoration:none;
    color:white;
    
  }
  .gallery_last{
    color: white;
    font-weight: light;
    font-size: small;
  }
  .gallery_line{
    color:white;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right:50px;
    height:1px;
    border-top:.5px;
  }
