/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:100px;
  background-color: black;
  scroll-behavior: smooth;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 5em;
  font-weight: bolder;
  padding-bottom: 10px;
  color:rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.container .heading h3 span{
  font-weight: 100;
  color:#81B314 ;
  border-bottom:white;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .col{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .col img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.container .box .col img:hover{
  transform: scale(1.03);
  transition:.5s;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #81B314 ;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

