.container{
    height: 100vh;
    background-image:url('../../assets/images/MainPage_leaf.jpg');
  height:800px;
  width:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}
.terrain{
    margin-top:5vh;
}
.write{
    margin: 0rem 3rem;
    padding:5rem;
}
.featureHeading{
    font-size: 5rem;
    font-weight: 800;
    margin-top: 5vh;
}
.featurePara{
    font-size: 1.25rem;
    width:70%;
    margin-top:5vh;
    
}
.climate{
    display: flex;
    flex-direction: row;
    gap:10%;
    margin-top:8vh;
}
.climate h1{
    font-size:1.4rem;
}
.temp p{
    width:10.9rem;
}
.temp span{
    font-size: 3rem;
}
.rain p{
    width:18.75rem;
}
.rain span{
   font-size: 3rem;
}
.sea p{
    width:18.75rem;
}
.sea span{
   font-size: 3rem;
}

