/node_modules
/.env
.env
**/src/main/resources/application.properties
/backend/backend/src/main/resources/application.properties
**/application.properties
/backend/backend/src/main/java/com/webdproject/backend/users/models/MyVariables.java
**/MyVariables.java