.containerSe{
    background-image: url("https://img.freepik.com/premium-vector/construction-design_24877-44621.jpg?size=626&ext=jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
