.container{
    margin:0px;
    padding:0px;
}
.navbar{
    margin:0px;
    padding:0px;
}
.banner{
    /* margin-top: 2rem; */
    font-size: 100px;
    justify-content:center;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    height:22rem;
    color: aliceblue;
    font-weight: bolder;
    background-image: url("https://wallpapers.com/images/hd/lush-green-forest-neblzag5t76yolal.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
.text1{
    margin-top:80px;
    font-size: 70px;
    font-weight: bolder;
    margin-left:194px;
}
.text2{
    margin-top:60px;
    font-size:20px;
    display:flex;
    /* height:45vh; */
    margin-left:160px;
    font-weight: bolder;
    margin-right: 160px;
    margin-bottom:70px;
    justify-content: space-around;
}
.para{
    width:50%;
}
.imagecontainer{
    display: flex;
    justify-content: flex-start;
    /* margin-top: -70px; */
    display: flex;
    margin-left: 50px;
}
#img1{
    border-radius: 1000px;
    border:2px solid black;
    height:172px;
    background-color: black;
}
#img2{
    margin-left: -40px;
    border-radius: 1000px;
    -webkit-filter: invert(1);
    /* background-color: black; */
    height:172px;
    filter: invert(1);
}
.text3{
    margin-top:80px;
    font-size: 50px;
    margin-right:475px;
    font-weight: bolder;
    margin-left:194px;
}
.text4{
    margin-top:60px;
    font-size:20px;
    margin-left:190px;
    font-weight: bolder;
    margin-right: 160px;
    margin-bottom:110px;
}
.photos{
    display: flex;
    margin-left:190px;
    margin-right: 160px;
    justify-content: space-around;
}
.p1{
    background-color: grey;
    width: 348px;
    height: 330px; 
}
.text5{
    display: flex;
    margin-left:190px;
    margin-right: 160px;
    justify-content: space-around;
    margin-top:10px;
    margin-bottom:70px;
}
.desc{
    display: flex;
    justify-content: space-around;
    width: 348px;
}
.line{
    margin-left:100px;
    margin-right: 100px;
    margin-top:190px;
    margin-bottom: 30px;
    background-color: darkgrey;
    height:0.8px;
}