.btn_ani {
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.btn_ani_value {
  position: relative;
  color: rgb(0, 0, 0);
  z-index: 100;
}

.btn_ani:hover div {
  color: rgb(255, 255, 255);
}

.btn_ani:before {
  content: "";
  position: absolute;
  z-index: 1;
  background: black;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  left: -30px;
  bottom: 100%;
  transition: all 0.7s;
}

.btn_ani:hover:before {
  bottom: -50px;
}
